<div class="tela mod2tela1">
  <div class="container-fluid left">
    <div class="items blue">
      <div
        ng-class="{open: vm.currentItem === 0, closed: vm.currentItem !== 0}"
        class="item"
      >
        <!--div class="item-click" ng-click="vm.select(1)">
          <p>1</p>
        </div-->
        <div class="item-content no-bg">
          <div class="left px-1">

            <p class="mt-2 subtitle yellow">
              Depois de entender o conceito de moeda, vamos explorar o Conceito de Sistema Monetário.
            </p>

            <div class="row mt-1">
              <div class="
                col-sm-12 col-sm-offset-0
                col-md-12 col-md-offset-0
                col-xs-12 col-xs-offset-0
              ">
                <img
                  class="img-responsive block centered"
                  src="assets/images/px/imagens/imagem_07.png"
                  alt=""
                />
              </div>
            </div>

            <p class="white mt-2">
              Para explorar o conteúdo, clique em cada um dos <i>cards</i>.
            </p>

          </div>
        </div>
      </div>

      <div ng-class="{open: vm.currentItem === 1}" class="item">
        <div class="item-click" ng-click="vm.select(1)">
          <p>1</p>
        </div>
        <div class="item-content">
          <div class="item-content-container left">
            <p class="semititle semibold">
              De onde surgiu o Sistema Monetário?
            </p>
            <p class="mt-1">
              A partir da criação da moeda, as trocas mercantis ganharam uma velocidade
              incrível, o comércio se desenvolveu e começou a surgir a necessidade de
              operações mais complexas:
            </p>

            <p class="mt-1">
              • prazos de pagamento diferentes;
            </p>
            <p>
              • recebimentos parcelados;
            </p>
            <p>
              • adiantamento sobre serviços a serem prestados;
            </p>
            <p>
              • estoques (guarda) das moedas para operações futuras;
            </p>
            <p>
              • empréstimos para desenvolvimento de projetos.
            </p>

            <div class="row nowrap mt-1 m-mt-1">
              <div class="
                col-sm-5 col-sm-offset-0
                col-md-5 col-md-offset-0
                col-xs-5 col-xs-offset-0
                no-float middle
              ">
                <img
                  class="img-responsive block centered"
                  src="assets/images/px/imagens/imagem_08.png"
                  alt=""
                />
              </div>
              <div class="
                col-sm-7 col-sm-offset-0
                col-md-7 col-md-offset-0
                col-xs-7 col-xs-offset-0
                no-float middle
              ">
                <p>
                  E assim por diante, até as necessidades de nossos dias,
                  com as sofisticadas operações financeiras conhecidas.
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div ng-class="{open: vm.currentItem === 2}" class="item">
        <div class="item-click" ng-click="vm.select(2)">
          <p>2</p>
        </div>
        <div class="item-content">
          <div class="item-content-container left">
            <p class="semititle">
              <b>Como a riqueza começou a ser representada pelo acúmulo de moeda/dinheiro,
              surgiram outras questões:</b> Onde guardar? O que fazer com o dinheiro entre
              o recebimento e a necessidade de uso?
            </p>

            <p class="mt-1 m-mt-1">
              No decorrer deste processo, surgiu uma nova atividade para
              pessoas de confiança e instituições reconhecidas:
            </p>

            <p>
              <b>guardiãs deste novo instrumento de troca (moeda/dinheiro).</b>
            </p>

            <div class="row mt-1">
              <div class="
                col-sm-8 col-sm-offset-2
                col-md-8 col-md-offset-2
                col-xs-8 col-xs-offset-2
              ">
                <img
                  class="img-responsive"
                  src="assets/images/px/imagens/imagem_09.png"
                  alt=""
                />
              </div>
            </div>

          </div>
        </div>
      </div>

      <div ng-class="{open: vm.currentItem === 3}" class="item">
        <div class="item-click" ng-click="vm.select(3)">
          <p>3</p>
        </div>
        <div class="item-content">
          <div class="item-content-container left">
            <p>
              Ao mesmo tempo em que se acumulava de um lado, surgiam oportunidades de
              emprestar estes recursos para outras áreas da economia.
            </p>
            <p>
              As mercadorias utilizadas para troca geralmente se apresentam em estado natural,
              variando conforme o meio ambiente e as atividades desenvolvidas, correspondendo
              às necessidades fundamentais de seus membros.
            </p>
            <div class="row mt-1 m-mt-1">
              <div class="
                col-sm-8 col-sm-offset-2
                col-md-8 col-md-offset-2
                col-xs-8 col-xs-offset-2
              ">
                <img
                  class="img-responsive"
                  src="assets/images/px/imagens/imagem_10.png"
                  alt=""
                />
              </div>
            </div>

            <p class="mt-1 m-mt-1">
              Como uma coisa leva a outra, essas instituições enxergaram o surgimento de um novo negócio:
            </p>

            <p>
              <b>intermediar recursos de um lado para o outro da sociedade.</b>
            </p>

          </div>
        </div>
      </div>

      <div ng-class="{open: vm.currentItem === 4}" class="item">
        <div class="item-click" ng-click="vm.select(4)">
          <p>4</p>
        </div>
        <div class="item-content">
          <div class="item-content-container left">
            <p>
              <b>Hoje, são essas as instituições que formam o Sistema Financeiro para
              conduzir os recursos dos agentes poupadores para os agentes tomadores. </b>
            </p>

            <div class="boxed bg-blue white border-radius">
              <p class="mt-1 m-mt-1">
                A principal função do Sistema Financeiro Nacional é transferir recursos de um lado para o outro.
              </p>

              <p class="bigtext mt-1 m-mt-1">
                <b>E o que é Mercado Financeiro?</b>
              </p>

              <p>
                O Mercado Financeiro pode ser entendido como um conjunto de instituições e instrumentos
                financeiros, que possibilitam a transferência de recursos dos ofertadores para os tomadores,
                e criam condições para que os títulos tenham liquidez no mercado.
              </p>
            </div>

          </div>
        </div>
      </div>

      <div ng-class="{open: vm.currentItem === 5}" class="item">
        <div class="item-click" ng-click="vm.select(5)">
          <p>5</p>
        </div>
        <div class="item-content">
          <div class="item-content-container left">
            <p class="center">
              ​Os dois mercados financeiros básicos são o
            </p>
            <p class="center">
              <b>Mercado Monetário e o Mercado de Capitais. </b>
            </p>

            <div class="row mt-1 m-mt-1">
              <div class="
                col-sm-6 col-sm-offset-0
                col-md-6 col-md-offset-0
                col-xs-6 col-xs-offset-0
              ">
                <img class="block centered mb-1 m-mb-1" style="max-height: 3rem;" src="assets/images/px/formas/seta_azul_baixo.png" alt="">

                <div class="boxed bg-blue white border-radius">
                  <p>
                    No Mercado Monetário, realizam-se transações com instrumentos de
                    dívida a prazo curto ou em títulos negociáveis.
                  </p>
                </div>
              </div>

              <div class="
                col-sm-6 col-sm-offset-0
                col-md-6 col-md-offset-0
                col-xs-6 col-xs-offset-0
              ">
                <img class="block centered mb-1 m-mb-1" style="max-height: 3rem;" src="assets/images/px/formas/seta_azul_baixo.png" alt="">

                <div class="boxed bg-blue white border-radius">
                  <p>
                    Já no Mercado de Capitais são negociados os títulos de dívida de longo prazo (ações e debêntures, por exemplo).
                  </p>
                </div>
              </div>
            </div>

            <div class="row mt-1 m-mt-1">
              <div class="
                col-sm-8 col-sm-offset-2
                col-md-8 col-md-offset-2
                col-xs-8 col-xs-offset-2
              ">
                <img
                  class="img-responsive"
                  src="assets/images/px/imagens/imagem_11.png"
                  alt=""
                />
              </div>
            </div>

          </div>
        </div>
      </div>

      <div ng-class="{open: vm.currentItem === 6}" class="item">
        <div class="item-click" ng-click="vm.select(6)">
          <p>6</p>
        </div>
        <div class="item-content">
          <div class="item-content-container left">
            <p class="semititle"><b>E você pode se perguntar:</b> </p>
            <p class="semititle">mas por que o Mercado Financeiro existe?</p>

            <p class="mt-1">
              O mercado existe porque certos indivíduos, empresas, governos e
              intermediários financeiros possuem fundos temporariamente ociosos,
              que desejam colocar em algum tipo de ativo líquido ou instrumento de renda.
            </p>

            <p>
              Enquanto outros indivíduos, empresas, governos e intermediários financeiros
              estão em situações em que precisam de recursos para atender suas demandas.
            </p>

            <div class="row mt-1 m-mt-1">
              <div class="
                col-sm-8 col-sm-offset-2
                col-md-8 col-md-offset-2
                col-xs-8 col-xs-offset-2
              ">
                <img
                  class="img-responsive"
                  src="assets/images/px/imagens/imagem_12.png"
                  alt=""
                />
              </div>
            </div>

          </div>
        </div>
      </div>

      <div ng-class="{open: vm.currentItem === 7}" class="item">
        <div class="item-click" ng-click="vm.select(7)">
          <p>7</p>
        </div>
        <div class="item-content bg1">
          <div class="item-content-container left">

            <p>
              Assim sendo, o Mercado Financeiro possibilita o contato entre fornecedores e tomadores de fundos.
            </p>

            <p class="semititle mt-1 center">
              <b class="inline-block-middle">Fornecedores &nbsp;</b>
              <img class="inline-block-middle" src="assets/images/px/formas/seta_azul_doislados.png" alt="" />
              <b class="inline-block-middle">&nbsp; Tomadores</b>
            </p>

            <div class="row mt-1 m-mt-1">
              <div class="
                col-sm-8 col-sm-offset-2
                col-md-8 col-md-offset-2
                col-xs-8 col-xs-offset-2
              ">
                <img
                  class="img-responsive"
                  src="assets/images/px/imagens/imagem_13.png"
                  alt=""
                />
              </div>
            </div>

            <p class="mt-1">
              O Mercado Financeiro permite, pela combinação diversificada de ativos financeiros com
              diferentes prazos, retorno e risco, reduzir o nível médio de risco a ser assumido pelos poupadores.
            </p>

          </div>
        </div>
      </div>

      <div ng-class="{open: vm.currentItem === 8}" class="item">
        <div class="item-click" ng-click="vm.select(8)">
          <p>8</p>
        </div>
        <div class="item-content">
          <div class="item-content-container left">
            <p>
              À medida que a moeda bancária (ou escritural) cresce na preferência do público,
              maior automação é exigida na sua escrituração para que a sua circulação esteja
              cada vez mais próxima da velocidade com que circula a moeda manual.
            </p>

            <p class="mt-1">
              <b>Para mais informações acesse o link a seguir, onde você encontrará diversos
                documentos e vídeos relacionados ao dinheiro, finanças pessoais e outros.</b>
            </p>

            <a class="mt-1 m-mt-1" href="https://www.bcb.gov.br/cidadaniafinanceira/cidadania_biblioteca " target="_blank" rel="noopener noreferrer">https://www.bcb.gov.br/cidadaniafinanceira/cidadania_biblioteca </a>

            <p class="mt-1 m-mt-1">
              E a seguir, você vai entender os conceitos de <b>Poupança, Investimento E Intermediação Financeira</b>.
            </p>

            <div class="center mt-2 m-mt-2">
              <div class="btn bg-blue white">
                Clique aqui para<br/>voltar ao mapa
              </div>
            </div>


          </div>
        </div>
      </div>

      <!--

      <div ng-class="{open: vm.currentItem === 9}" class="item">
        <div class="item-click" ng-click="vm.select(9)">
          <p>9</p>
        </div>
        <div class="item-content">
          <div class="item-content-container left">
            <p class="mb-1">
              Todo esse processo é realizado de forma extremamente rápida, sem
              que o investidor acesse diretamente o ambiente de negociação da
              bolsa de valores.
            </p>

            <div class="row">
              <div
                class="
                  col-sm-8
                  col-sm-offset-2
                  col-md-8
                  col-md-offset-2
                  col-xs-8
                  col-xs-offset-2
                "
              >
                <img
                  class="img-responsive"
                  src="assets/images/px/imagens/imagem_11.png"
                  alt=""
                />
              </div>
            </div>

            <p class="mt-1">
              A B3 S.A., além de disponibilizar os sistemas de negociação, se
              encarrega dos procedimentos de liquidação física e financeira das
              transações (<i>Clearing</i>), ou seja, a entrega da ação ao comprador e
              pagamento ao vendedor.
            </p>
          </div>
        </div>
      </div>

      <div ng-class="{open: vm.currentItem === 10}" class="item">
        <div class="item-click" ng-click="vm.select(10)">
          <p>10</p>
        </div>
        <div class="item-content">
          <div class="item-content-container left">
            <p class="mb-1">
              Os principais custos que podem incidir numa negociação com ações
              são:
            </p>
            <p class="mb-1">
              ​<b>a)</b> a taxa de corretagem que é livremente negociada entre
              os clientes e a corretora;
            </p>
            <p class="mb-1">
              <b>b)</b> a taxa de custódia que é cobrada pela bolsa dos intermediários e fica a cargo desses repassá-las, ou não, ao cliente final;
            </p>
            <p class="mb-1">
              <b>c)</b> os emolumentos e a taxa de liquidação cobrados pela
              bolsa.
            </p>

            <div class="row">
              <div
                class="
                  col-sm-8
                  col-sm-offset-2
                  col-md-8
                  col-md-offset-2
                  col-xs-8
                  col-xs-offset-2
                "
              >
                <img
                  class="img-responsive"
                  src="assets/images/px/imagens/imagem_12.png"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div ng-class="{open: vm.currentItem === 11}" class="item">
        <div class="item-click" ng-click="vm.select(11)">
          <p>11</p>
        </div>
        <div class="item-content">
          <div class="item-content-container left">
            <p class="mb-1">
              Quanto aos impostos incidentes sobre negociação com ações, vale a
              seguinte regra:
            </p>
            <p class="mb-1">
              • Se a compra e a venda forem feitas em datas diferentes, incidirá
              Imposto de Renda de 15% sobre os ganhos de capital (lucro), sendo
              que 0,005% do valor da venda deve ser retido pelo intermediário
              financeiro.
            </p>
            <p class="mb-1">
              O recolhimento do Imposto de Renda é de responsabilidade do
              investidor, que tem até o último dia útil do mês seguinte ao da
              venda para recolhê-lo via documento de arrecadação fiscal (DARF).
            </p>
            <div class="row">
              <div class="boxed bg-yellow white px-3 py-3 border-radius">
                <p class="black bold">
                  Caso o valor das vendas, nessa modalidade, seja de até R$
                  20.000,00, o investidor pessoa física estará isento do
                  pagamento desse tributo.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div ng-class="{open: vm.currentItem === 12}" class="item">
        <div class="item-click" ng-click="vm.select(12)">
          <p>12</p>
        </div>
        <div class="item-content">
          <div class="item-content-container left">
            <p class="mb-1">
              Quanto aos impostos incidentes sobre negociação com ações, vale a
              seguinte regra:​​
            </p>
            <p class="mb-1">
              • Em se tratando de operações de compra e venda no mesmo dia (Day
              Trade), incidirá Imposto de Renda de 20% sobre os ganhos de
              capital (lucro), sendo que 1% do valor do ganho deve ser retido
              pelo intermediário financeiro. ​​
            </p>
            <p class="mb-1">
              ​ O recolhimento do Imposto de Renda também é de responsabilidade
              do investidor, nas mesmas condições descritas anteriormente.
            </p>
            <p class="mb-1 bold">
              As operações Day Trade não usufruem do benefício de isenção
              citado no item anterior (vendas até R$ 20.000,00 no mês).​​
            </p>
          </div>
        </div>
      </div>

      <div ng-class="{open: vm.currentItem === 13}" class="item">
        <div class="item-click" ng-click="vm.select(13)">
          <p>13</p>
        </div>
        <div class="item-content">
          <div class="item-content-container left">
            <p class="mb-1">
              Quanto aos impostos incidentes sobre negociação com ações, vale a
              seguinte regra:
            </p>
            <p class="mb-1">
              • As operações com ações não são tributadas pelo Imposto Sobre
              Operações Financeiras (IOF).
            </p>
            <div class="row">
              <div
                class="
                  col-sm-8
                  col-sm-offset-2
                  col-md-8
                  col-md-offset-2
                  col-xs-8
                  col-xs-offset-2
                "
              >
                <img
                  class="img-responsive"
                  src="assets/images/px/imagens/imagem_13.png"
                  alt=""
                />

              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-class="{open: vm.currentItem === 14}" class="item">
        <div class="item-click" ng-click="vm.select(14)">
          <p>14</p>
        </div>
        <div class="item-content">
          <div class="item-content-container black left">
            <p class="mb-1">
              Você acabou de conhecer as Ações e suas características.
            </p>
            <p class="mb-1"><b>Para conhecer mais a respeito dos temas apresentados nessa parte do curso fornecemos as seguintes dicas/sugestões:</b></p>

            <p><b>• Acesse o site: </b></p>
            <p><a href="http://www.investidor.gov.br" target="_blank" rel="noopener noreferrer">www.investidor.gov.br</a> e baixe gratuitamente os livros, guias e cartilhas sobre o tema.</p>

            <p class="mt-1"><b>• Assista também o filme:</b> ANBIMA Explica O que são ações?</p>
            <p><a href="https://www.youtube.com/watch?v=QPyxAE4W_6g" target="_blank" rel="noopener noreferrer">https://www.youtube.com/watch?v=QPyxAE4W_6g</a></p>

            <div class="center">
              <div class="btn bg-blue white mt-1" ng-click="vm.game.gotoTela(0,3)">Continuar</div>
            </div>

          </div>
        </div>
      </div>
      -->

      <!--  <div ng-class="{open: vm.currentItem === 15}" class="item">
        <div class="item-click bg14" ng-click="vm.select(15)">
        </div>
        <div class="item-content">
          <div class="item-content-container white left">

            <p class="mb-1">Agora que você já entendeu o que é e como acontece a lavagem de dinheiro, vamos aprofundar a
              análise no tema <b>A lavagem de dinheiro e o financiamento ao terrorismo.</b></p>

            <div class="row">
              <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                <img class="img-responsive" src="assets/images/px/imagens/imagem_10.png" alt="">
              </div>
            </div>

            <div class="btn centered mt-2 m-mt-2" ng-click="vm.game.gotoMenu()">Clique aqui para<br />voltar ao mapa
            </div>

          </div>
        </div>
      </div>

      -->
    </div>
  </div>
</div>
