.tela.mod3tela6
  position relative

  .btn
      position absolute
      right 25px
      top 665px
      .btn-inside
        width 206px
        height 60px
        background-image: url('../assets/images/px/default/index/btn_fechar_0001.png')
        background-repeat no-repeat
        &:hover
          background-image: url('../assets/images/px/default/index/btn_fechar_0002.png')
