<div class="tela mod3tela6">
    <adiv pos="{x:0, y:0}" from="{x:0, y:0}" duration="0.5" delay="0" alpha="{from:0, to:1}" >
        <img src="assets/images/px/tela7/tela07_0002.png">
    </adiv>
    <adiv pos="{x:0, y:0}" from="{x:0, y:0}" duration="0.5" delay="0" alpha="{from:0, to:1}" >
        <img src="assets/images/px/tela7/tela07_0003.png">
    </adiv>
    <adiv pos="{x:50, y:-40}" from="{x:0, y:0}" duration="0.5" delay="0" alpha="{from:0, to:1}" >
        <img src="assets/images/px/tela7/tela07_0004.png">
    </adiv>

    <adiv pos="{x:938, y:717}" class="mapa-btn over-btn" ng-click="vm.game.gotoMenu()">
        <img class="normal" src="assets/images/default/btn_mapa_0001.png">
        <img class="over" src="assets/images/default/btn_mapa_0002.png">
    </adiv>
    <!-- <div class="btn">
        <div class="btn-inside" ng-click="loading.start()">

        </div>
      </div> -->
</div>
