<div class="pin" ng-mouseover="vm.playSound()">
  <!--<div class="pin-text-shadow">{{vm.text}}</div>
  <div class="pin-text">{{vm.text}}</div>-->
  <div class="pin-text-shadow">
    <!--<svg xmlns="http://www.w3.org/2000/svg" width="{{vm.twidth}}" height="50">
      <text x="5" y="30">{{vm.text}}</text>
    </svg>-->
    {{vm.text}}
  </div>
  <div class="pin-text">
    <!--<svg xmlns="http://www.w3.org/2000/svg" width="{{vm.twidth}}" height="50">
      <text x="5" y="30">{{vm.text}}</text>
    </svg>-->
    {{vm.text}}
  </div>
  <div class="pin-image">
    <img ng-src="{{vm.image}}">
  </div>
  <div class="pin-image-hover">
    <img ng-src="{{vm.hover}}">
  </div>
</div>