.tela.mod9tela1
  position relative

  #myVideo {
    position: absolute;
    left: 0px;
    top: 0px;
    margin: auto;
    padding: 0;
    width: calc(1920px);
    height: auto;
  }

  .intro{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1170px;
    height: 800px;
  }

  .intro .close-intro{
    position: absolute;
    box-sizing: border-box;
    right: 58px;
    bottom: 88px;
    width: 206px;
    height: 60px;
    //background: url(../assets/images/px/btn_comecar_0001.png);
    cursor: pointer;
  }

  .intro .close-intro .text{
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 60px;
    background: #43b02a;
  }

  .intro .close-intro:hover{
    //background: url('../assets/images/px/btn_comecar_0002.png');
  }
