<div class="tela mod9tela1">

  <div ng-hide="vm.showintro">
    <video id="myVideo" controls>
      <source src="assets/images/p9/P9_Dermacor_Erico_v2.mp4" type="video/mp4">
    </video>
  </div>

  <!--div class="intro" ng-show="vm.showintro">
    <img src="assets/images/px/P1_Dermacor_Bianca_v1.png">

    <div class="close-intro" ng-click="vm.init()">
      <div class="text">
        Começar
      </div>
    </div>

  </div-->

  <adiv pos="{x:880, y:1000}" ng-click="vm.game.gotoMenu()" ng-show="vm.endVideo">
    <img class="btn-menu" src="assets/images/default/btn_menu.png">
  </adiv>

</div>
