.tela.mod3tela5
  position relative

  .btn-pop
    position absolute
    cursor pointer

    &.btn-pop0
      left 130px
      top 285px

    &.btn-pop1
      left 331px
      top 285px

    &.btn-pop2
      left 532px
      top 285px

    &.btn-pop3
      left 730px
      top 285px
      
  .pop-screen
    position absolute
    left 90px
    top 340px

    img
      position absolute
      left 0px
      top 0px

    .close-pop
      position absolute
      left 850px
      top 180px