<div class="tela mod6tela1">

  <div class="container-fluid">
    <!--div class="table-cell" ng-show="vm.showVideo">
      <video id="myVideo" controls controlsList="nodownload">
        <source src="assets/motion/PRODUTOS_BANCARIOS_LEGENDADO_v0.mp4" type="video/mp4">
      </video>

      <div class="video-controls">
        <div class="video-play-btn">

        </div>
        <div class="video-tracking">
          <div class="video-tracking-complete"></div>
          <div class="video-tracking-btn"></div>
        </div>

        <div class="video-time">

        </div>
      </div>
    </div-->

    <div class="table content-height">
      <div class="table-cell">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-1">
            <p class="subtitle blue bold">Vamos entender o que são Produtos de Crédito?</p>

            <p class="semititle blue bold mb-2 m-mb-2">Dê o play no vídeo</p>

            <!--div class="center">
              <div class="btn bg-blue white mt-1 m-mt-1" ng-click="vm.showVideo = true">Play</div>
            </div-->

            <video id="myVideo" controls controlsList="nodownload">
              <source src="assets/motion/PRODUTOS_BANCARIOS_LEGENDADO_v0.mp4" type="video/mp4">
            </video>
          </div>
        </div>
      </div>
    </div>

    <button class="btn finish-btn" ng-click="vm.game.gotoTela(0,6)" ng-show="vm.endVideo">Clique aqui para<br/>voltar ao menu</button>
  </div>

</div>
