<div class="tela intros">
  <div class="menu-bg">
    <!--video autoplay muted loop id="bg-video">
      <source src="assets/images/px/bgs/video_abertura_matriz.mp4" type="video/mp4">
    </video-->
  </div>

  <div class="container-fluid table">

    <div class="table-cell">

      <!--div class="row" ng-show="intro.currentItem === 0">
        <div class="col-sm-6 center">
          <div class="img-with-text" style="display: inline-block;">
            <img class="content-desktop" src="assets/images/px/formas/box_01.png" style="width: auto; height: 70vh;" alt="">
            <img class="content-mobile" src="assets/images/px/formas/box_01.png" alt="">
            <div class="text mt-2 m-mt-3">
              <div class="text-content">
                <p class="title blue bold center">PLDFT</p>
                <p class="black mx-4 m-mx-1 l-mx-2">Prevenção à lavagem de dinheiro e financiamento ao terrorismo</p>
                <div class="btn bg-gradient-blue white mt-6 m-mt-6" ng-click="intro.currentItem = 1">Começar</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid container-table" style="height: auto;" ng-show="intro.currentItem === 1">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 no-float middle">
            <div class="boxed bg-white black border-radius px-3 py-3 m-px-2 m-py-2">

              <div class="row">
                <div class="col-sm-8 col-md-8">
                  <p class="subtitle blue semibold">Com certeza você já ouviu falar sobre lavagem de dinheiro. </p>
                  <p class="black">Esta prática criminosa tem um objetivo bastante específico: dar uma aparência legítima ao dinheiro obtido com a prática de outros crimes, por exemplo, corrupção, estelionato, tráfico de drogas, etc.</p>
                  <p class="black">E quanto mais sabemos sobre o tema, mais fácil será combater esse tipo de crime. </p>
                  <p class="black">Preparamos este curso para você aprofundar seus conhecimentos e entender tudo o que envolve a Lavagem de Dinheiro. </p>
                  <p class="black">Acesse o mapa da trilha e comece a sua análise. </p>
                </div>
                <div class="col-sm-4 col-md-3 col-md-offset-1">
                  <img class="img-responsive m-px-5 m-mt-1 l-px-0" src="assets/images/px/imagens/imagem_01.png" alt="">
                </div>
              </div>

            </div>
          </div>
          <div class="col-sm-1 col-xs-3 col-xs-offset-9 no-float middle">
            <img ng-click="intro.currentItem = 2" class="img-responsive m-mt-1 l-mt-0" style="float: right; min-width: 30px;" src="assets/images/px/botoes/seta_avancar.png" alt="">
          </div>
        </div>
      </div-->


      <div class="row">
        <div class="col-sm-8 col-sm-offset-0 col-md-7 col-md-offset-1">
          <div class="table content-height">

            <div class="table-cell">
              <p class="subtitle blue semibold">De financiamento de veículos ou imóveis a limites de Cheque Especial, existem diversos produtos bancários que as pessoas podem precisar em diferentes situações e estágios de vida.</p>
              <p class="black double-space mt-1 m-mt-1">Ou seja, os produtos bancários existem e são oferecidos pelos bancos dentro de um ciclo de crédito, que também tem muita relação com o ciclo de vida das pessoas como clientes das instituições financeiras. </p>
              <p class="black">E é isso que você vai ver neste curso.</p>

              <p class="semititle blue bold mt-1 m-mt-1">Os principais produtos bancários, suas modalidades e características. </p>

              <div class="center">
                <div class="btn bg-blue white mt-1 inline-block" ng-click="intro.continue()">Clique aqui<br/> para começar</div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

  </div>

</div>
