<div class="tela mod1tela1">
  <div class="container-fluid left">
    <div class="items blue">
      <div
        ng-class="{open: vm.currentItem === 0, closed: vm.currentItem !== 0}"
        class="item"
      >
        <!--div class="item-click" ng-click="vm.select(1)">
          <p>1</p>
        </div-->
        <div class="item-content no-bg">
          <div class="left px-1">

            <p class="mt-2 subtitle yellow">
              Vamos começar entendendo o Conceito de Moeda e de Sistema Monetário.
            </p>
            <p class="white mt-2">
              Para explorar o conteúdo, clique em cada um dos <i>cards</i>.
            </p>

            <div class="content-mobile" style="position: relative; left:0; bottom: 0; width: 60%; height: auto;">
              <img style="width: 100%; height: auto;" src="assets/images/px/formas/grafismos_02.png" alt="">
            </div>
            <div class="content-landscape" style="position: relative; left:0; bottom: 0; width: 35%; height: auto;">
              <img style="width: 100%; height: auto;" src="assets/images/px/formas/grafismos_02.png" alt="">
            </div>
            <div class="content-all" style="position: fixed; left:0; bottom: 0; width: 35%; height: auto;">
              <img style="width: 100%; height: auto;" src="assets/images/px/formas/grafismos_02.png" alt="">
            </div>

          </div>
        </div>
      </div>

      <div ng-class="{open: vm.currentItem === 1}" class="item">
        <div class="item-click" ng-click="vm.select(1)">
          <p>1</p>
        </div>
        <div class="item-content">
          <div class="item-content-container left">
            <p>
              Você sabe de onde vem o conceito de dinheiro? Vamos entender melhor...
            </p>
            <p class="mt-1">
              A história do Sistema Financeiro está relacionada com a origem do dinheiro,
              sua função, seu uso e sua guarda. No começo, as transações mercantis eram
              feitas por meio de troca direta dos bens em questão.
            </p>
            <div class="row mt-1">
              <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                <img
                  class="img-responsive block centered"
                  src="assets/images/px/imagens/imagem_01.png"
                  alt=""
                />
              </div>
            </div>

            <p class="mt-1 m-mt-1"><b>Conhecida como escambo, essa permuta muitas vezes levava a longas discussões sobre as quantidades trocadas. </b></p>
          </div>
        </div>
      </div>

      <div ng-class="{open: vm.currentItem === 2}" class="item">
        <div class="item-click" ng-click="vm.select(2)">
          <p>2</p>
        </div>
        <div class="item-content">
          <div class="item-content-container left">
            <p>
              A moeda, como hoje a conhecemos, é o resultado de uma longa evolução.
              No início não havia moeda. Praticava-se o <b>escambo, simples troca de
              mercadoria por mercadoria</b>, sem equivalência de valor.
            </p>
            <div class="row mt-1">
              <div
                class="
                  col-sm-8
                  col-sm-offset-2
                  col-md-8
                  col-md-offset-2
                  col-xs-8
                  col-xs-offset-2
                "
              >
                <img
                  class="img-responsive"
                  src="assets/images/px/imagens/imagem_02.png"
                  alt=""
                />
              </div>
            </div>
            <p class="mt-1 m-mt-1">
              Assim, quem tivesse mais do que o necessário para si e seu grupo
              trocava este excesso com o de outra pessoa.
            </p>

            <p class="mt-1 m-mt-1">
              Esta forma de comércio foi dominante no início da civilização,
              podendo ser encontrada, ainda hoje, entre povos de economia primitiva,
              em regiões onde, pelo difícil acesso, há escassez de meio circulante e
              até em situações especiais, em que as pessoas envolvidas efetuam permuta
              de objetos sem a preocupação de sua equivalência de valor.
            </p>
          </div>
        </div>
      </div>

      <div ng-class="{open: vm.currentItem === 3}" class="item">
        <div class="item-click" ng-click="vm.select(3)">
          <p>3</p>
        </div>
        <div class="item-content">
          <div class="item-content-container left">
            <p>
              As mercadorias utilizadas para troca geralmente se apresentam em estado natural, variando conforme o meio ambiente e as atividades desenvolvidas, correspondendo às necessidades fundamentais de seus membros.
            </p>
            <div class="row mt-1">
              <div
                class="
                  col-sm-8
                  col-sm-offset-2
                  col-md-8
                  col-md-offset-2
                  col-xs-8
                  col-xs-offset-2
                "
              >
                <img
                  class="img-responsive"
                  src="assets/images/px/imagens/imagem_03.png"
                  alt=""
                />
              </div>
            </div>
            <p class="mt-1 m-mt-1">
              Depois de algumas experiências, surgiu a moeda, feita de um metal precioso (ouro, prata), com um peso padrão e com a produção controlada por alguma entidade ligada ao governo local.
            </p>
          </div>
        </div>
      </div>

      <div ng-class="{open: vm.currentItem === 4}" class="item">
        <div class="item-click" ng-click="vm.select(4)">
          <p>4</p>
        </div>
        <div class="item-content">
          <div class="item-content-container left">
            <p>
              As primeiras espécies de moeda foram mercadorias e a sua escolha como instrumento de troca variou muito, conforme as épocas e regiões, até chegarmos aos metais preciosos que, por suas qualidades naturais, impuseram-se como o meio mais comum de troca.
            </p>

            <div class="row mt-1">
              <div class="col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                <img
                  class="img-responsive"
                  src="assets/images/px/imagens/imagem_04.png"
                  alt=""
                />
              </div>
            </div>

            <p class="mt-1 m-mt-1">
              A partir daí, podemos deduzir uma definição de moeda: <b>instrumento de troca e meio de pagamento</b>.
            </p>
          </div>
        </div>
      </div>

      <div ng-class="{open: vm.currentItem === 5}" class="item">
        <div class="item-click" ng-click="vm.select(5)">
          <p>5</p>
        </div>
        <div class="item-content">
          <div class="item-content-container left">
            <p>
              ​A moeda também evoluiu, sendo substituída por novos instrumentos, adotou novas formas, mas continua realizando primordialmente as mesmas funções do dinheiro antigo, quais sejam:
            </p>

            <div class="row nowrap">
              <div
                class="
                  col-sm-5 col-sm-offset-1
                  col-md-5 col-md-offset-1
                  col-xs-5 col-xs-offset-1
                  no-float middle
                "
              >
                <p><b>• INTERMEDIÁRIA</b> nas trocas, servindo como meio de pagamento;</p>
                <p><b>• DENOMINADOR</b> comum de valores; e </p>
                <p><b>• RESERVA</b> de valor.</p>
              </div>
              <div
                class="
                  col-sm-5 col-sm-offset-0
                  col-md-5 col-md-offset-0
                  col-xs-5 col-xs-offset-0
                  no-float middle
                "
              >
                <img
                  class="img-responsive"
                  src="assets/images/px/imagens/imagem_05.png"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div ng-class="{open: vm.currentItem === 6}" class="item">
        <div class="item-click" ng-click="vm.select(6)">
          <p>6</p>
        </div>
        <div class="item-content">
          <div class="item-content-container left">
            <p class="semititle semibold">E hoje em dia? Como o dinheiro está classificado?</p>

            <p class="mt-1">
              As novas classes de dinheiro estão hoje divididas em dois grupos:
            </p>

            <div class="boxed bg-yellow border-radius mt-1 m-mt-1">
              <p><b>MOEDA MANUAL</b> - que compreende o papel-moeda e a moeda divisionária.</p>
            </div>

            <div class="boxed bg-yellow border-radius mt-1 m-mt-1">
              <p><b>MOEDA ESCRITURAL ou BANCÁRIA</b> - que corresponde aos depósitos à vista no sistema bancário, movimentáveis por cheques, cartões (débito, crédito, pré-pago), transferências eletrônicas (TED, Pix etc.) e moedas digitais.</p>
            </div>

          </div>
        </div>
      </div>

      <div ng-class="{open: vm.currentItem === 7}" class="item">
        <div class="item-click" ng-click="vm.select(7)">
          <p>7</p>
        </div>
        <div class="item-content bg1">
          <div class="item-content-container left">

            <p class="subtitle bold">Você completou a primeira parte deste curso.</p>
            <p class="mt-1">
              O conceito de moeda é muito importante. Ele é a base para que você avance
              para o próximo tema: Conceito de Sistema Monetário.
            </p>

            <p class="mt-1">
              Veja a seguir!
            </p>

            <div class="row mt-1">
              <div class="
              col-sm-8 col-sm-offset-2
              col-xs-8 col-xs-offset-2">
                <img
                  class="img-responsive"
                  src="assets/images/px/imagens/imagem_06.png"
                  alt=""
                />
              </div>
            </div>

            <div class="center">
              <div class="btn bg-blue white mt-1 m-mt-1">
                Clique aqui para<br/>
                voltar ao menu
              </div>
            </div>

          </div>
        </div>
      </div>

      <!--
      <div ng-class="{open: vm.currentItem === 8}" class="item">
        <div class="item-click" ng-click="vm.select(8)">
          <p>8</p>
        </div>
        <div class="item-content">
          <div class="item-content-container left">
            <p class="mb-1">
              O primeiro passo para os investidores que querem negociar com
              ações é fazer um cadastro numa Corretora ou Distribuidora de
              Títulos e Valores Mobiliários, pois elas são as únicas
              intermediárias autorizadas a operar no ambiente de bolsa no
              Brasil.
            </p>

            <div class="row">
              <div
                class="
                  col-sm-8
                  col-sm-offset-2
                  col-md-8
                  col-md-offset-2
                  col-xs-8
                  col-xs-offset-2
                "
              >
                <img
                  class="img-responsive"
                  src="assets/images/px/imagens/imagem_10.png"
                  alt=""
                />
              </div>
            </div>

            <p class="mt-1">
              De uma forma bastante simples, o investidor que deseja comprar ou
              vender ações envia uma ordem de compra ou de venda para sua
              corretora/distribuidora, por meio telefônico ou pelas plataformas
              disponibilizadas por alguns desses intermediários na internet
              (home broker), e eles se incubem de enviá-las ao sistema de
              negociação da bolsa de valores (B3 S.A.).
            </p>
          </div>
        </div>
      </div>

      <div ng-class="{open: vm.currentItem === 9}" class="item">
        <div class="item-click" ng-click="vm.select(9)">
          <p>9</p>
        </div>
        <div class="item-content">
          <div class="item-content-container left">
            <p class="mb-1">
              Todo esse processo é realizado de forma extremamente rápida, sem
              que o investidor acesse diretamente o ambiente de negociação da
              bolsa de valores.
            </p>

            <div class="row">
              <div
                class="
                  col-sm-8
                  col-sm-offset-2
                  col-md-8
                  col-md-offset-2
                  col-xs-8
                  col-xs-offset-2
                "
              >
                <img
                  class="img-responsive"
                  src="assets/images/px/imagens/imagem_11.png"
                  alt=""
                />
              </div>
            </div>

            <p class="mt-1">
              A B3 S.A., além de disponibilizar os sistemas de negociação, se
              encarrega dos procedimentos de liquidação física e financeira das
              transações (<i>Clearing</i>), ou seja, a entrega da ação ao comprador e
              pagamento ao vendedor.
            </p>
          </div>
        </div>
      </div>

      <div ng-class="{open: vm.currentItem === 10}" class="item">
        <div class="item-click" ng-click="vm.select(10)">
          <p>10</p>
        </div>
        <div class="item-content">
          <div class="item-content-container left">
            <p class="mb-1">
              Os principais custos que podem incidir numa negociação com ações
              são:
            </p>
            <p class="mb-1">
              ​<b>a)</b> a taxa de corretagem que é livremente negociada entre
              os clientes e a corretora;
            </p>
            <p class="mb-1">
              <b>b)</b> a taxa de custódia que é cobrada pela bolsa dos intermediários e fica a cargo desses repassá-las, ou não, ao cliente final;
            </p>
            <p class="mb-1">
              <b>c)</b> os emolumentos e a taxa de liquidação cobrados pela
              bolsa.
            </p>

            <div class="row">
              <div
                class="
                  col-sm-8
                  col-sm-offset-2
                  col-md-8
                  col-md-offset-2
                  col-xs-8
                  col-xs-offset-2
                "
              >
                <img
                  class="img-responsive"
                  src="assets/images/px/imagens/imagem_12.png"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div ng-class="{open: vm.currentItem === 11}" class="item">
        <div class="item-click" ng-click="vm.select(11)">
          <p>11</p>
        </div>
        <div class="item-content">
          <div class="item-content-container left">
            <p class="mb-1">
              Quanto aos impostos incidentes sobre negociação com ações, vale a
              seguinte regra:
            </p>
            <p class="mb-1">
              • Se a compra e a venda forem feitas em datas diferentes, incidirá
              Imposto de Renda de 15% sobre os ganhos de capital (lucro), sendo
              que 0,005% do valor da venda deve ser retido pelo intermediário
              financeiro.
            </p>
            <p class="mb-1">
              O recolhimento do Imposto de Renda é de responsabilidade do
              investidor, que tem até o último dia útil do mês seguinte ao da
              venda para recolhê-lo via documento de arrecadação fiscal (DARF).
            </p>
            <div class="row">
              <div class="boxed bg-yellow white px-3 py-3 border-radius">
                <p class="black bold">
                  Caso o valor das vendas, nessa modalidade, seja de até R$
                  20.000,00, o investidor pessoa física estará isento do
                  pagamento desse tributo.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div ng-class="{open: vm.currentItem === 12}" class="item">
        <div class="item-click" ng-click="vm.select(12)">
          <p>12</p>
        </div>
        <div class="item-content">
          <div class="item-content-container left">
            <p class="mb-1">
              Quanto aos impostos incidentes sobre negociação com ações, vale a
              seguinte regra:​​
            </p>
            <p class="mb-1">
              • Em se tratando de operações de compra e venda no mesmo dia (Day
              Trade), incidirá Imposto de Renda de 20% sobre os ganhos de
              capital (lucro), sendo que 1% do valor do ganho deve ser retido
              pelo intermediário financeiro. ​​
            </p>
            <p class="mb-1">
              ​ O recolhimento do Imposto de Renda também é de responsabilidade
              do investidor, nas mesmas condições descritas anteriormente.
            </p>
            <p class="mb-1 bold">
              As operações Day Trade não usufruem do benefício de isenção
              citado no item anterior (vendas até R$ 20.000,00 no mês).​​
            </p>
          </div>
        </div>
      </div>

      <div ng-class="{open: vm.currentItem === 13}" class="item">
        <div class="item-click" ng-click="vm.select(13)">
          <p>13</p>
        </div>
        <div class="item-content">
          <div class="item-content-container left">
            <p class="mb-1">
              Quanto aos impostos incidentes sobre negociação com ações, vale a
              seguinte regra:
            </p>
            <p class="mb-1">
              • As operações com ações não são tributadas pelo Imposto Sobre
              Operações Financeiras (IOF).
            </p>
            <div class="row">
              <div
                class="
                  col-sm-8
                  col-sm-offset-2
                  col-md-8
                  col-md-offset-2
                  col-xs-8
                  col-xs-offset-2
                "
              >
                <img
                  class="img-responsive"
                  src="assets/images/px/imagens/imagem_13.png"
                  alt=""
                />

              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-class="{open: vm.currentItem === 14}" class="item">
        <div class="item-click" ng-click="vm.select(14)">
          <p>14</p>
        </div>
        <div class="item-content">
          <div class="item-content-container black left">
            <p class="mb-1">
              Você acabou de conhecer as Ações e suas características.
            </p>
            <p class="mb-1"><b>Para conhecer mais a respeito dos temas apresentados nessa parte do curso fornecemos as seguintes dicas/sugestões:</b></p>

            <p><b>• Acesse o site: </b></p>
            <p><a href="http://www.investidor.gov.br" target="_blank" rel="noopener noreferrer">www.investidor.gov.br</a> e baixe gratuitamente os livros, guias e cartilhas sobre o tema.</p>

            <p class="mt-1"><b>• Assista também o filme:</b> ANBIMA Explica O que são ações?</p>
            <p><a href="https://www.youtube.com/watch?v=QPyxAE4W_6g" target="_blank" rel="noopener noreferrer">https://www.youtube.com/watch?v=QPyxAE4W_6g</a></p>

            <div class="center">
              <div class="btn bg-blue white mt-1" ng-click="vm.game.gotoTela(0,3)">Continuar</div>
            </div>

          </div>
        </div>
      </div>
      -->

      <!--  <div ng-class="{open: vm.currentItem === 15}" class="item">
        <div class="item-click bg14" ng-click="vm.select(15)">
        </div>
        <div class="item-content">
          <div class="item-content-container white left">

            <p class="mb-1">Agora que você já entendeu o que é e como acontece a lavagem de dinheiro, vamos aprofundar a
              análise no tema <b>A lavagem de dinheiro e o financiamento ao terrorismo.</b></p>

            <div class="row">
              <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                <img class="img-responsive" src="assets/images/px/imagens/imagem_10.png" alt="">
              </div>
            </div>

            <div class="btn centered mt-2 m-mt-2" ng-click="vm.game.gotoMenu()">Clique aqui para<br />voltar ao mapa
            </div>

          </div>
        </div>
      </div>

      -->
    </div>
  </div>
</div>
